/* Font families definitions */
@font-face {
  font-family: 'Super Plumber Brothers';
  font-weight: 400;
  src: url(./assets/super-plumber-brothers.ttf);
}

@font-face {
  font-family: 'Emulogic';
  font-weight: 400;
  src: url(./assets/emulogic.ttf);
}

/* Global styles and variables */
:root {
  --font-brand: Emulogic, monospace;
  --z-index-audio-control: var(--z-index-princess);
  --z-index-game-over: var(--z-index-princess);
  --z-index-lava: 3;
  --z-index-princess: 4;
  --z-index-question: var(--z-index-princess);
  --z-index-splash: var(--z-index-princess);
  --z-index-tiles: 2;
  --z-index-victory: 5;
  --z-index-warning: var(--z-index-princess);
  --z-index-world: 1;
}

body {
  height: 100vh;
  margin: 0;
}

/* Mario-themed game container */
.world {
  background: url(./assets/world.jpg) repeat-x top left;
  background-size: 100% 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.lava {
  animation: lava-flow 2s infinite;
  background: url(./assets/lava.jpg) repeat-x top left;
  bottom: 0;
  height: 100px;
  position: absolute;
  transition: all 2s ease-in-out;
  width: 100%;
  z-index: var(--z-index-lava);
}

/* Score panel on the upper left corner */
.score-panel {
  left: 30px;
  position: absolute;
  top: 30px;
}

.score-panel__coins {
  align-items: center;
  display: flex;
}

.score-panel__coins-icon {
  margin-right: 12px;
  width: 30px;
}

.score-panel__coins-label {
  color: #fff;
  font-family: var(--font-brand);
  font-size: 18px;
}

.score-panel__lives {
  list-style-type: none;
  padding-left: 0;
}

.score-panel__lives li {
  display: inline-block;
}

.score-panel__lives li:not(:last-child) {
  margin-right: 10px;
}

.score-panel__lives img {
  width: 30px;
}

/* Princess Peach flying her drones on the upper right corner */
.princess {
  animation: balance 4s infinite;
  position: absolute;
  right: 50px;
  top: 30px;
  width: 150px;
  z-index: var(--z-index-princess);
}

/* Warning box displayed when running out of time */
.warning {
  animation: pulse 1.15s infinite;
  bottom: 60px;
  display: none;
  position: absolute;
  right: 60px;
  width: 120px;
  z-index: var(--z-index-warning);
}

.visible {
  display: inline-block !important;
}
/*
.learnosity-item--visible {
  display: block !important;
} */

.audio-control {
  bottom: 25px;
  left: 25px;
  position: absolute;
  z-index: var(--z-index-audio-control);
}

.audio-control__icon {
  width: 30px;
}

/* Logo */
.splash {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.0000001); /* starts off being hidden */
  transition: all 500ms ease;
  z-index: var(--z-index-splash);
}

.question.visible,
.splash.visible {
  transform: translate(-50%, -50%) scale(1) !important;
}

.splash__image {
  max-width: 768px;
  width: 100%;
}

.splash__copyright {
  font-family: var(--font-brand);
  margin-bottom: 40px;
  text-align: right;
}

.splash__start-button {
  background-color: #dfc215;
  border: 4px solid #1b1b1b;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: var(--font-brand);
  font-size: 22px;
  max-width: 250px;
  padding: 8px 20px;
  transition: all 200ms ease-in-out;
  width: 100%;
}

.splash__start-button:hover {
  transform: scale(1.05);
}

/* Question modal */
.question {
  background-color: rgba(0, 0, 0, 0.75);
  border: 6px solid #fff;
  border-radius: 4px;
  left: 50%;
  max-width: 768px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.0000001); /* starts off being hidden */
  transition: all 850ms ease-in-out;
  width: 100%;
  z-index: var(--z-index-question);
}

.question__content {
  padding: 40px;
  position: relative;
}

.question__icon {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  width: 100px;
}

.question__next-button {
  background-color: dodgerblue;
  border: 4px solid #1b1b1b;
  border-radius: 4px;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  font-family: var(--font-brand);
  font-size: 22px;
  max-width: 350px;
  padding: 8px 20px;
  position: absolute;
  right: 50%;
  transform: translate(50%, 50%);
  width: 100%;
}

.question__wrong-answer {
  animation: wrong-answer-pulse 1.15s infinite;
  bottom: 0;
  display: none;
  position: absolute;
  right: 0;
  transform: translate(50%, 50%);
  width: 72px;
}

.mario {
  height: 84px;
  transform: translateY(10px);
}

.platforms {
  bottom: 160px; /* Make sure this value is above the initial lava level */
  left: 20px;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  position: absolute;
}

.platforms__tile {
  display: inline-block;
  margin-right: 45px;
  width: 200px;
  z-index: var(--z-index-tiles);
}

.platforms__tile-image {
  width: 100%;
}

.game-over {
  background-color: rgba(0, 0, 0, 0.9);
  border: 6px solid #fff;
  border-radius: 4px;
  color: #fff;
  display: none;
  font-family: var(--font-brand);
  font-size: 40px;
  left: 50%;
  left: 50%;
  padding: 60px 80px;
  position: absolute;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--z-index-game-over);
}

.speech-bubble {
  display: none;
  position: absolute;
  right: 135px;
  top: 15px;
  width: 350px;
  z-index: var(--z-index-princess);
}

.you-win {
  background-color: rgba(0, 0, 0, 0.95);
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: var(--z-index-victory);
}

.you-win__content {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: var(--z-index-victory) + 1;
}

.you-win__image {
  width: 200px;
}

.you-win__text {
  color: #fff;
  font-family: var(--font-brand);
  font-size: 40px;
  margin-top: 30px;
  text-transform: uppercase;
  z-index: var(--z-index-victory) + 1;
}

.you-win__report {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
  margin-top: 80px;
}

.you-win__report-item {
  color: #fff;
  font-family: var(--font-brand);
  font-size: 24px;
  line-height: 2.25;
  display: flex;
  align-items: center;
  justify-content: center;
}

.you-win__coin {
  width: 35px;
  margin-right: 12px;
}

.lrn_question,
.lrn-possible-answer {
  color: #fff;
  font-family: var(--font-brand);
  font-size: 30px;
  text-transform: uppercase;
}

.lrn_mcqgroup.lrn_mcqgroup-horizontal li {
  line-height: 1.75;
}

.lrn_selected {
  background-color: goldenrod !important;
}

.learnosity-item {
  display: none;
}

.lrn_mcqgroup-block label,
.lrn_mcqgroup-block .lrn_choiceLabel {
  background-color: transparent !important;
}

.lrn_mcqgroup-block li.lrn_selected label {
  background-color: goldenrod !important;
}

.lrn_mcqgroup-block li.lrn_selected .lrn_choiceLabel {
  color: #222 !important;
}

.lrn-dragdrop-container {
  color: #fff;
  font-family: var(--font-brand);
  font-size: 20px;
  text-transform: uppercase;
}

.lrn_btn_drag {
  font-size: 12px !important;
}

.lrn_response_input_wrapper {
  border: none !important;
}

.lrn_possibilityList {
  background-color: transparent !important;
}

/* Animations */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
}

@keyframes wrong-answer-pulse {
  0%,
  100% {
    transform: translate(50%, 50%) scale(1);
  }
  50% {
    transform: translate(50%, 50%) scale(1.5);
  }
}

@keyframes balance {
  0%,
  50%,
  100% {
    transform: scale(1) rotate(0) translate(0);
  }
  25% {
    transform: scale(1.15) rotate(-10deg) translate(-20px);
  }
  75% {
    transform: scale(1.15) rotate(10deg) translate(20px);
  }
}

@keyframes lava-flow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
