/* Font families definitions */
@font-face {
  font-family: 'Super Plumber Brothers';
  src: url(./assets/super-plumber-brothers.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Emulogic';
  src: url(./assets/emulogic.ttf);
  font-weight: 400;
}

/* Global styles and variables */
:root {
  --z-index-world: 1;
  --z-index-tiles: 2;
  --z-index-lava: 3;
  --z-index-princess: 4;
  --z-index-splash: var(--z-index-princess);
  --z-index-question: var(--z-index-princess);
  --z-index-warning: var(--z-index-princess);
  --z-index-audio-control: var(--z-index-princess);
  --z-index-game-over: var(--z-index-princess);
  --font-brand: Emulogic, monospace;
}

body {
  height: 100vh;
  margin: 0;
}

/* Mario-themed game container */
.world {
  background: url(./assets/world.jpg) repeat-x top left;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.lava {
  background: url(./assets/lava.jpg) repeat-x top left;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  transition: all 2s ease-in-out;
  animation: lava-flow 2s infinite;
  z-index: var(--z-index-lava);
}

/* Score panel on the upper left corner */
.score-panel {
  position: absolute;
  top: 30px;
  left: 30px;
}

.score-panel__coins {
  display: flex;
  align-items: center;
}

.score-panel__coins-icon {
  width: 30px;
  margin-right: 12px;
}

.score-panel__coins-label {
  font-family: var(--font-brand);
  color: #fff;
  font-size: 18px;
}

.score-panel__lives {
  list-style-type: none;
  padding-left: 0;
}

.score-panel__lives li {
  display: inline-block;
}

.score-panel__lives li:not(:last-child) {
  margin-right: 10px;
}

.score-panel__lives img {
  width: 30px;
}

/* Princess Peach flying her drones on the upper right corner */
.princess {
  position: absolute;
  top: 30px;
  right: 50px;
  animation: balance 4s infinite;
  width: 150px;
  z-index: var(--z-index-princess);
}

/* Warning box displayed when running out of time */
.warning {
  animation: pulse 1.15s infinite;
  width: 120px;
  position: absolute;
  bottom: 60px;
  right: 60px;
  z-index: var(--z-index-warning);
  display: none;
}

.warning--visible,
.game-over--visible,
.speech-bubble--visible {
  display: inline-block !important;
}

.audio-control {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: var(--z-index-audio-control);
}

.audio-control__icon {
  width: 30px;
}

/* Logo */
.splash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.0000001); /* starts off being hidden */
  z-index: var(--z-index-splash);
  text-align: center;
  transition: all 500ms ease;
}

.question--visible,
.splash--visible {
  transform: translate(-50%, -50%) scale(1) !important;
}

.splash__image {
  width: 100%;
  max-width: 768px;
}

.splash__copyright {
  font-family: var(--font-brand);
  text-align: right;
  margin-bottom: 40px;
}

.splash__start-button {
  font-family: var(--font-brand);
  font-size: 22px;
  color: #fff;
  border-radius: 4px;
  background-color: #dfc215;
  border: 4px solid #1b1b1b;
  padding: 8px 20px;
  max-width: 250px;
  width: 100%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.splash__start-button:hover {
  transform: scale(1.05);
}

/* Question modal */
.question {
  max-width: 768px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  border: 6px solid #fff;
  transform: translate(-50%, -50%) scale(0.0000001); /* starts off being hidden */
  z-index: var(--z-index-question);
  transition: all 850ms ease-in-out;
}

.question__content {
  position: relative;
  padding: 40px;
}

.question__icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 100px;
}

.question__next-button {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
  font-family: var(--font-brand);
  font-size: 22px;
  color: #fff;
  border-radius: 4px;
  background-color: dodgerblue; /* royalblue; */
  border: 4px solid #1b1b1b;
  padding: 8px 20px;
  max-width: 350px;
  width: 100%;
  cursor: pointer;
}

.mario {
  height: 84px;
  transform: translateY(10px);
}

.platforms {
  list-style-type: none;
  padding-left: 0;
  position: absolute;
  bottom: 160px; /* Make sure this value is above the initial lava level */
  left: 20px;
  margin: 0;
}

.platforms__tile {
  display: inline-block;
  z-index: var(--z-index-tiles);
  width: 200px;
  margin-right: 45px;
}

.platforms__tile-image {
  width: 100%;
}

.game-over {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--z-index-game-over);
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  border: 6px solid #fff;
  text-transform: uppercase;
  font-size: 40px;
  font-family: var(--font-brand);
  color: #fff;
  padding: 60px;
}

.speech-bubble {
  display: none;
  position: absolute;
  top: 15px;
  right: 135px;
  z-index: var(--z-index-princess);
  width: 350px;
}

.lrn_question,
.lrn-possible-answer {
  text-transform: uppercase;
  font-size: 30px;
  font-family: var(--font-brand);
  color: #fff;
}

.lrn_mcqgroup.lrn_mcqgroup-horizontal li {
  line-height: 1.75;
}

.lrn_selected {
  background-color: goldenrod !important;
}

.learnosity-item {
  display: none;
}

.learnosity-item--visible {
  display: block !important;
}

/* Animations */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
}

@keyframes balance {
  0%,
  50%,
  100% {
    transform: scale(1) rotate(0) translate(0);
  }
  25% {
    transform: scale(1.15) rotate(-10deg) translate(-20px);
  }
  75% {
    transform: scale(1.15) rotate(10deg) translate(20px);
  }
}

@keyframes lava-flow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
